<div class="col-md">
  <%= render "learn_subscription", {
  url: "https://learn.derose.app/a/cervino/subscription_templates/only-on-demand.json"
} do %>
  <ul>
    <li><%= image_tag "check-lg.svg", class: "icon" %>Clases grabadas para ver a tu ritmo en cualquier horario</li>
    <li><%= image_tag "check-lg.svg", class: "icon" %>4 clases interactivas en vivo para orientaci칩n inicial si es tu primera vez</li>
    <li class="text-muted"><%= image_tag "x-lg.svg", class: "icon" %>Clases interactivas en vivo</li>
    <li class="text-muted"><%= image_tag "x-lg.svg", class: "icon" %>Clases presenciales incluidas*</li>
    <li class="text-muted"><%= image_tag "x-lg.svg", class: "icon" %>Acompa침amiento personalizado por un profesional certificado</li>
    <li class="text-muted"><%= image_tag "x-lg.svg", class: "icon" %>Pasaporte DeROSE Network global</li>
  </ul>
<% end %>
</div>
<div class="col-md">
  <%= render "learn_subscription", {
    url: "https://learn.derose.app/a/cervino/subscription_templates/only-live.json"
  } do %>
    <ul>
      <li class="text-muted"><%= image_tag "x-lg.svg", class: "icon" %>Clases grabadas para ver a tu ritmo en cualquier horario</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Clases interactivas en vivo</li>
      <li class="text-muted"><%= image_tag "x-lg.svg", class: "icon" %>Clases presenciales incluidas*</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Acompa침amiento personalizado por un profesional certificado</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Pasaporte DeROSE Network global</li>
    </ul>
  <% end %>
</div>
<div class="col-md">
  <%= render "learn_subscription", {
    url: "https://learn.derose.app/a/cervino/subscription_templates/online-live-ondemand.json"
  } do %>
    <ul>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Clases grabadas para ver a tu ritmo en cualquier horario</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Clases interactivas en vivo</li>
      <li class="text-muted"><%= image_tag "x-lg.svg", class: "icon" %>Clases presenciales incluidas*</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Acompa침amiento personalizado por un profesional certificado</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Pasaporte DeROSE Network global</li>
    </ul>
  <% end %>
</div>
