<div class="col-md order-md-1">
  <%= render "learn_subscription", {
  url: "https://learn.derose.app/a/cervino/subscribe_to/estudiantes-online.json"
} do %>
    <ul>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Clases grabadas para ver a tu ritmo en cualquier horario</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Clases interactivas en vivo</li>
      <li class="text-muted"><%= image_tag "x-lg.svg", class: "icon" %>Clases presenciales incluidas*</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Acompañamiento personalizado por un profesional certificado</li>
      <li class=""><%= image_tag "check-lg.svg", class: "icon" %>Pasaporte <%= derose_brand %> Network global</li>
    </ul>
<% end %>
</div>
<div class="col-md order-md-2 order-first">
  <%= render "learn_subscription", {
    auth_var_name: "vacante",
    auth_var_value: "autorizada",
    url: "https://learn.derose.app/a/cervino/subscribe_to/estudiantes-presencial-online.json"
  } do %>
    <ul>
      <li><%= image_tag "check-lg.svg", class: "icon" %>Clases presenciales sin límite</li>
      <li><%= image_tag "check-lg.svg", class: "icon" %>Clases grabadas para ver a tu ritmo en cualquier horario</li>
      <li><%= image_tag "check-lg.svg", class: "icon" %>Clases interactivas online en vivo</li>
      <li><%= image_tag "check-lg.svg", class: "icon" %>Acompañamiento personalizado por un profesional certificado</li>
      <li><%= image_tag "check-lg.svg", class: "icon" %>Pasaporte <%= derose_brand %> Network global</li>
    </ul>
  <% end %>
</div>
