<% show = false unless defined?(show) %>
<% parent_id = "faq" unless defined?(parent_id) %>
<% if defined?(@faq_item_count) %>
  <% @faq_item_count += 1 %>
<% else %>
  <% @faq_item_count = 0 %>
<% end %>
<% id = "collapse#{@faq_item_count}" %>

<div class="accordion-item">
  <h3 class="accordion-header">
    <button class="accordion-button <%= "collapsed" unless show %>" type="button"
            style="color: var(--brand-blue)"
            data-bs-toggle="collapse" data-bs-target="#<%= id %>"
            aria-expanded="<%= show %>" aria-controls="<%= id %>">
      <b>
        <%== q %>
      </b>
    </button>
  </h3>
  <div id="<%= id %>" class="accordion-collapse collapse <%= "show" if show %>" data-bs-parent="#<%= parent_id %>">
    <div class="accordion-body text-start bg-brand-white">
      <%== a %>
    </div>
  </div>
</div>
