<% currency = "$" unless defined?(currency) %>
<% auth_var_name = nil unless defined?(auth_var_name) %>
<% auth_var_value = nil unless defined?(auth_var_value) %>
<div class="card mb-5 mb-lg-0"
     data-controller="learn-subscription"
     data-learn-subscription-url-value="<%= url %>"
>
  <div class="card-body">
    <h5 class="card-title text-muted text-uppercase text-center font-brand-title"><span data-learn-subscription-target="name"></span></h5>
    <h6 class="card-price text-center text-nowrap font-brand-title"><span><%= currency || "$" %><span data-learn-subscription-target="amount"></span></span><span class="period">/mes</span></h6>
    <hr>
    <%= yield %>
    <div class="text-center">
      <% if auth_var_name %>
        <div data-controller="authorizer"
             data-authorizer-name-value="<%= auth_var_name %>"
             data-authorizer-val-value="<%= auth_var_value %>"
        >
          <a data-authorizer-target="unauthorized" href="mailto:cervino@derosemethod.org" target="_blank" class="d-none btn-cta btn text-uppercase">Consultar disponibilidad</a>
          <a data-authorizer-target="authorized" data-learn-subscription-target="payButton" href="" target="_blank" class="d-none btn-cta btn text-uppercase">quiero este plan</a>
        </div>
      <% else %>
        <a data-learn-subscription-target="payButton" href="" target="_blank" class="btn-cta btn text-uppercase">quiero este plan</a>
      <% end %>
    </div>
  </div>
</div>
