<div class="d-flex justify-content-center align-items-center">
  <%= link_to "/whatsapp", target: "_blank", class: "mx-4" do %>
    <%= render "site/icons/whatsapp" %>
  <% end %>
  <%= link_to "/instagram", target: "_blank", class: "mx-4" do %>
    <%= render "site/icons/instagram" %>
  <% end %>
  <%= link_to "/map", target: "_blank", class: "mx-4" do %>
    <%= render "site/icons/geo-alt" %>
  <% end %>
</div>
