<nav id="main-navigation" class="navbar navbar-expand-lg navbar-dark fixed-top" data-controller="navbar">
  <div class="container">
    <a class="navbar-brand" href="/"><%= image_tag "logo-blanco.webp" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <%= nav_link_to("Inicio", "/", class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= nav_link_to("Qué enseñamos", "/#home-drm", class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= nav_link_to("Horarios", "/horarios", class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= nav_link_to("Planes", "/pricing", class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= nav_link_to("Private teacher", "/private-teacher", class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= nav_link_to("Acceso Alumnos", "https://learn.derose.app/", target: "_blank", class: "nav-link") %>
        </li>
      </ul>
      <%# link_to "Probá una clase", "/proba-una-clase", class: "btn btn-cta float-end d-none d-lg-inline", style: "color: var(--brand-white)" %>
    </div>
  </div>
</nav>
