---
title: Inicio
meta_description: En DeROSE Method inspiramos a ver la vida desde un punto de vista diferente a través del autoconocimiento.
meta_keywords: yoga, meditación, fuerza, flexibilidad
---
<div id="home-band-1" class="bg-fran-focus d-flex align-items-end justify-content-center">
  <%= cta_link_to "Empezá hoy", "/whatsapp", class: "mb-4 text-uppercase" %>
</div>
<div id="home-drm" class="bg-brand-blue text-center px-4">
  <p class="text-uppercase">Certificados por la Red DeROSE desde hace más de 10 años.</p>
  <p>
    <%= link_to global_web_url, target: "_blank" do %>
      <%= image_tag "logo-blanco.webp", class: "logo img-fluid" %>
    <% end %>
  </p>
  <p>Conocé más de qué se trata en <%= link_to global_web, global_web_url, target: "_blank", style: "color: #fff" %></p>
</div>
<div id="home-testimonials" class="container">
  <div class="row my-1">
    <% %W(agos.webp carlos.webp cata.webp).each do |image| %>
      <div class="col-md">
        <%= image_tag "testimonials/#{image}", id: "img-#{image.parameterize}", class: "img-fluid" %>
      </div>
    <% end %>
  </div>
  <div class="row my-1">
  <% %W(estivi.webp flor.webp meli.webp).each do |image| %>
    <div class="col-md">
      <%= image_tag "testimonials/#{image}", id: "img-#{image.parameterize}", class: "img-fluid" %>
    </div>
  <% end %>
  </div>
  <div class="row my-1">
  <% %W(pau.webp sofi.webp).each do |image| %>
    <div class="col-md">
      <%= image_tag "testimonials/#{image}", id: "img-#{image.parameterize}", class: "img-fluid" %>
    </div>
  <% end %>
    <div class="col-md"></div>
  </div>
</div>
<div id="home-presencial-y-online" class="bg-grupo-en-puente d-flex flex-column justify-content-between align-items-center">
  <h1 id="online-y-presencial" class="text-uppercase text-end ps-4 px-2">
    Presencial <br> y online
  </h1>

  <%= cta_link_to "Empezá hoy", "/whatsapp", class: "mb-4 text-uppercase" %>
</div>
<%= render "contact_info" %>
