---
title: Pricing
text: Encontrá todas las opciones de planes en nuestra plataforma
---
<div class="pricing container pt-4 font-brand-body">
  <ul class="nav nav-underline">
    <li class="nav-item ms-auto" role="presentation">
      <button class="nav-link active" id="planes-online-tab" data-bs-toggle="tab" data-bs-target="#planes-online" type="button" role="tab" aria-controls="home" aria-selected="true">Planes online</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="planes-presenciales-tab" data-bs-toggle="tab" data-bs-target="#planes-presenciales" type="button" role="tab" aria-controls="profile" aria-selected="false">Planes presenciales</button>
    </li>
    <li class="nav-item me-auto" role="presentation">
      <button class="nav-link" id="planes-estudiantes-tab" data-bs-toggle="tab" data-bs-target="#planes-estudiantes" type="button" role="tab" aria-controls="profile" aria-selected="false">Planes Estudiantes</button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="planes-online" role="tabpanel" tabindex="0">
      <div class="row">
        <%= render "site/pricing/planes_online_usd" %>
      </div>
      <%= render "site/pricing/asterisk" %>
    </div>
    <div class="tab-pane" id="planes-presenciales" role="tabpanel" tabindex="1">
      <div class="row">
        <%= render "site/pricing/planes_presenciales" %>
      </div>
      <%= render "site/pricing/asterisk" %>
    </div>
    <div class="tab-pane" id="planes-estudiantes" role="tabpanel" tabindex="2">
      <div class="row">
        <div class="w-100 text-center">
          <p>¿Estas estudiando? ¡Este es el mejor momento para empezar <%= derose_brand %> Method! Te ayudamos con planes especiales para vos. </p>
          <p><small><i>Planes para estudiantes de cualquier nivel, menores de 26 años.</i></small></p>
        </div>
        <%= render "site/pricing/planes_estudiantes" %>
      </div>
    </div>
  </div>
</div>
