---
title: Yôga
meta_description: DeROSE Method incluye yôga pero es otra cosa. Inspiramos a ver la vida desde un punto de vista diferente a través del autoconocimiento.
meta_keywords: yoga, meditación, respiración, mindfulness, autoconocimiento, DeROSE Method, hinduismo
meta_author: DeROSE Method Cerviño
---
<div id="yoga" class="container-fluid">
  <div class="row">
    <div class="col text-center bg-brand-brown p-4">
      <h1><%= derose_brand %> Method es otra cosa</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 p-3 fs-4">
      <p>
        En la década del 60 el Profesor DeRose comenzó su carrera enseñando Yôga. Sistematizó el SwáSthya Yôga y durante años trabajó enfocado en el Yôga escribiendo libros y viajando por el mundo dando cursos. Es normal entonces que su nombre haya quedado asociado al Yôga.
      </p>
      <p>
        Precisamos aclarar siempre: <%= derose_brand %> Method es otra cosa.
      </p>
      <p>
        Hace más de 10 años que DeRose creó el <%= derose_brand %> Method para ampliar su trabajo enfocándose en comportamiento y estilo de vida.
      </p>
      <p>
        En <%= derose_brand %> Method vas a encontrar:
      </p>
      <ul>
        <li> conceptos sobre hábitos cotidianos y estilo de vida </li>
        <li> recomendaciones de alimentación </li>
        <li> herramientas para la administración del estrés </li>
        <li> conceptos para mejorar tus relaciones humanas </li>
        <li> actividades sociales de integración </li>
        <li> viajes y salidas culturales </li>
        <li> filosofía hindú </li>
        <li> entrenamientos de fuerza y resistencia muscular </li>
        <li> desarrollo de flexibilidad </li>
        <li> mejora de tu capacidad respiratoria </li>
        <li> trabajo de concentración y meditación </li>
      </ul>
    </div>
    <div class="col-sm-6 d-flex justify-content-center align-items-center overflow-hidden">
      <%= image_tag "fotos/bachini-kakasana.webp", id: "foto-bachi" %>
    </div>
  </div>
</div>
